node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

*.log
*.log.gz
*.log.bz2
*.log.xz
*.log.lzma
*.log.zstd
*.log.lz4
*.log.lz4.xz
*.log.lz4.lzma

.env
